USE [master]
GO
/****** Object:  Database [TP4]    Script Date: 15/7/2026 08:56:42 ******/
CREATE DATABASE [TP4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP4_Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP4_Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4]
GO
/****** Object:  User [alumno]    Script Date: 15/7/2026 08:56:42 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 15/7/2026 08:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDjugador] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 15/7/2026 08:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[posicion] [varchar](50) NOT NULL,
	[numeroCamiseta] [varchar](50) NOT NULL,
	[IDseleccion] [int] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 15/7/2026 08:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[grupo] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([ID], [IDjugador], [cantidad]) VALUES (82, 14, 1)
INSERT [dbo].[Figuritas] ([ID], [IDjugador], [cantidad]) VALUES (83, 9, 1)
INSERT [dbo].[Figuritas] ([ID], [IDjugador], [cantidad]) VALUES (84, 29, 1)
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([ID], [nombre], [posicion], [numeroCamiseta], [IDseleccion]) VALUES (1, N'MESSI', N'DELANTERO', N'10', 1)
INSERT [dbo].[Jugadores] ([ID], [nombre], [posicion], [numeroCamiseta], [IDseleccion]) VALUES (2, N'ALVAREZ', N'DELANTERO', N'9', 1)
INSERT [dbo].[Jugadores] ([ID], [nombre], [posicion], [numeroCamiseta], [IDseleccion]) VALUES (3, N'EMILIANO', N'ARQUERO', N'23', 1)
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([ID], [grupo], [pais]) VALUES (1, N'A', N'ARGENTINA')
INSERT [dbo].[Selecciones] ([ID], [grupo], [pais]) VALUES (2, N'B', N'BRASIL')
INSERT [dbo].[Selecciones] ([ID], [grupo], [pais]) VALUES (3, N'C', N'ESPAÑA')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Jugadores] FOREIGN KEY([IDjugador])
REFERENCES [dbo].[Jugadores] ([ID])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Jugadores]
GO
USE [master]
GO
