<h1>Mi Álbum</h1>

@foreach(Figuritas figurita in ViewBag.Album)
{
    @foreach(Jugadores jugador in ViewBag.Jugadores)
    {
        @if(figurita.IDjugador == jugador.Id)
        {
            <div class="figurita">

                <img src="/images/jugadores/@(jugador.nombre.ToLower()).svg"/>
                <p class="cantidad"> Cantidad: @figurita.cantidad </p>

            </div>
        }
    }
}

<br />

<a href='@Url.Action("Index","Home")'>Volver a la pagina principal</a>