@foreach(Figuritas figurita in ViewBag.Album)
{
    @foreach(Jugadores jugador in ViewBag.Jugadores)
    {
        @if(figurita.IDjugador == jugador.Id)
        {
            <img src="/images/jugadores/@jugador.Imagen" width="150" />

            <p>Cantidad: @figurita.cantidad</p>
        }
    }
}
<a href='@Url.Action("Index", "Home")'>Volver a la pagina principal</a>