@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Album de Figuritas</h1>
    <p>
        <a href='@Url.Action("AbrirSobre", "Home")'>Abrir sobre</a>
    </p>
    <p>
    <a href='@Url.Action("Album", "Home")'>Ver album</a>
    </p>

</div>
